{{#paper-nav-container}}

  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">

        <div class="logo-wrapper">
          <h2 id="title">
            {{#link-to 'index'}}
              <img src="http://miguelcobain.github.io/ember-paper/ember-logo-white-955db9d87b940bf54a17bd1fa78d0713.png" class="logo" height="30"/>
              <span class="text">&nbsp;Google Charts</span>
            {{/link-to}}
          </h2>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}

        {{#paper-item action='transitionTo' param='chart-types.area'}}
          Area charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.bar'}}
          Bar charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.geo'}}
          Geo charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.line'}}
          Line charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.pie'}}
          Pie charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.scatter'}}
          Scatter charts
        {{/paper-item}}

        {{#paper-item}}
          <a href="https://github.com/sir-dunxalot/ember-google-charts" target="_blank">
            View Source on Github
          </a>
        {{/paper-item}}

      {{/paper-list}}
    {{/paper-content}}

  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action='toggleMenu' icon-button=true}}
            {{paper-icon icon='menu'}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">{{pageTitle}}</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class='md-padding page-content'}}
      {{outlet}}
    {{/paper-content}}
  </div>

{{/paper-nav-container}}
