{{#paper-nav-container}}

  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">

        <div class="logo">
          <h2 id="title">
            {{#link-to 'index'}}Ember Google Charts{{/link-to}}
          </h2>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}

        {{#paper-item action='transitionTo' param='chart-types.area'}}
          Area charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.bar'}}
          Bar charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.geo'}}
          Geo charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.line'}}
          Line charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.pie'}}
          Pie charts
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='chart-types.scatter'}}
          Scatter charts
        {{/paper-item}}

      {{/paper-list}}
    {{/paper-content}}

  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action='toggleMenu' icon-button=true}}
            {{paper-icon icon='menu'}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">{{pageTitle}}</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class='md-padding'}}
      {{outlet}}
    {{/paper-content}}
  </div>

{{/paper-nav-container}}
