@import 'ember-paper';

@import 'core/variables';
@import 'core/mixins';

@import 'components/code';

.logo, .logo-wrapper .text {
  display: inline-block;
}

.logo {
  margin-top: -0.7rem;
}

.page-content {
  padding: 2rem 4rem;
}
