<h1>Ember Google Charts aims to make using Google Charts in your Ember apps as easy as possible.</h1>

<p>Here are some examples of what you can do with this addon:</p>

<br>

<iframe src="https://google-developers.appspot.com/chart/interactive/docs/gallery_7e4cc6f739c135d6bc302e59d81af904.frame?hl=en&redesign=true" style="width: 100%; height: 1800px;" seamless frameborder="0"/>
