<h2 id="title">Ember Google Charts</h2>

<ul>
  <li>{{#link-to 'chart-types.bar'}}Bar charts{{/link-to}}</li>
  <li>{{#link-to 'chart-types.geo'}}Geo charts{{/link-to}}</li>
  <li>{{#link-to 'chart-types.line'}}Line charts{{/link-to}}</li>
  <li>{{#link-to 'chart-types.pie'}}Pie charts{{/link-to}}</li>
  <li>{{#link-to 'chart-types.scatter'}}Scatter charts{{/link-to}}</li>
</ul>

{{outlet}}
