<div class="page-layout">

  <header class="page-header">
    <nav>
      <ul>

        <li class="page-header-logo">
          <LinkTo @route="index">
            <img src="/ember.png" class="logo" height="30" alt="Ember JS">
            <h2 class="text">&nbsp;Google Charts</h2>
          </LinkTo>
        </li>

        <hr>

        <li>
          <LinkTo @route="chart-types.area">Area charts</LinkTo>
        </li>

        <li>
          <LinkTo @route="chart-types.bar">Bar charts</LinkTo>
        </li>

        <li>
          <LinkTo @route="chart-types.geo">Geo charts</LinkTo>
        </li>

        <li>
          <LinkTo @route="chart-types.line">Line charts</LinkTo>
        </li>

        <li>
          <LinkTo @route="chart-types.pie">Pie charts</LinkTo>
        </li>

        <li>
          <LinkTo @route="chart-types.scatter">Scatter charts</LinkTo>
        </li>

        <li>
          <LinkTo @route="promises">Promises</LinkTo>
        </li>

        <hr>

        <li>
          <a href="https://github.com/sir-dunxalot/ember-google-charts">View source on Github</a>
        </li>

        <li>
          <a href="https://developers.google.com/chart/interactive/docs/">Google Charts docs</a>
        </li>

      </ul>
    </nav>
  </header>

  <div class="page-content">
    {{outlet}}
  </div>

</div>
