<h1>Ember Google Charts aims to make using Google Charts in your Ember apps as easy as possible.</h1>

<p>Here are some examples of what you can do with this addon:</p>

<br>

<iframe
  src="https://developers.google.com/chart/interactive/docs/gallery_401bdd675769b249b9821f6a64eb945a5a53d88d2e378e762fd04ab7fcdb03ef.frame"
  class="google-developers-iframe"
  title="Google Charts examples"
  seamless
  frameborder="0"
/>
