<p>Promises that resolve with new chart data after the chart has been rendered work out of the box!</p>

<p>Just wait a few seconds and you'll see the chart update...</p>

<br>
<br>

<BarChart @data={{this.model}} />
